:root {
  --primary-color: #B27272;
  --secondary-color: #6D93B6;
  /*--secondary-color: #6D93B6;*/

  --secondary-color-transparent: #6D93B6B3;
}

@font-face {
  font-family: made-tommy-regular;
  src: url(fonts/made-tommy-regular.otf);
}

@font-face {
  font-family: made-tommy-light;
  src: url(fonts/made-tommy-light.otf);
}

@font-face {
  font-family: made-tommy-medium;
  src: url(fonts/made-tommy-medium.otf);
}

html, body {
  font-family: "made-tommy-regular";
  height: 100%;
  margin: 0;
  background-color: #F9F6F4;
scroll-behavior: smooth;
}


/*--------- Text ---------*/
h1, h2, h3, h4, h5, h6, p, a{
  color: #000000;
  letter-spacing: 1px;
}

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; font-family: "made-tommy-light";}
h4 { font-size: 2.4rem; font-family: "made-tommy-light";}
h5 { font-size: 2rem; font-family: made-tommy-medium;}
h6 { font-size: 1.6rem; }

p { font-size: 14px; font-family: "made-tommy-light"; }


/*--------- Button ---------*/

button {
  border: none;
  width: 200px;
  height: 40px;

}

a {
  font-size: 14px;    
  text-decoration: none !important;
}

.button {
    padding: 10px 32px;
    border-radius: 8px;
    text-decoration: none;
}

.primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.primary:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.primary-outline {
  background-color: #ffffff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.secondary:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: 0.3s;
}

.secondary-outline {
  background-color: #ffffff;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
/*--------- Icon ---------*/
.icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0px 1vh;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.icon img {
  height: 32px;
}

.icones {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

/*--------- Navbar ---------*/

.nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  font-size: 16px;
}

.nav-link:hover {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);  
  transition: 0.2s;
}

.active .nav-link {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.navbar{
  transition:500ms ease;
  background:transparent;
}

.navbar.scrolled{
  background:#F9F6F4;
}

.navbar-toggler-icon img {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.navbar button {
  width: auto;
}

/*--------- Conatiner ---------*/

.section {
  padding: 5vw;
  padding-top: calc(5vw + 24px);
}

.section .title {
  padding-bottom: 2vw;
}
/*--------- Home ---------*/

#home{
  height: 100vh;
  width: 97vw;
}

#home .circle{
  position: absolute;
  height: inherit;
}

#home .profile {
  height: 100vh;
}

#home .profile img{
    width: 100%;
}

#home .text {
  padding: 25vh 0px 0px 5vw;
}

#home h6 {
  padding: 2vh 0 1vh 0;
}

/*--------- Project ---------*/

#project {
  background-color: #F3EDE9;
}

#project img.card-img-top {
    padding: 8px;
}

#project p.card-text {
  font-family: "made-tommy-light";
  color: #333333;    
  margin: 10px 0px;
}

#project .card hr{
  margin-bottom: 0;
  border-top: 1px solid #E9DFD9;
}

#project .card-body {
  display: flex;
  padding: 0.25rem 1.25rem;
}

#project .card {
    margin: 20px 0px;
}

#project .icon {
  margin: auto;
}

#project .texto {
    text-align: center;
    opacity: 0;
    transition: opacity .2s linear;
    background-color: var(--secondary-color-transparent);
}
#project .texto p{
    color: #ffffff
}

#project .imagem:hover .texto {
    opacity: 1;
}

/*--------- Service ---------*/

#service .icon {
  width: 120px;
  height: 120px;
  background-color: #9ABAC7;
  border-radius: 50%;
  margin: auto;
  margin-top: 4vh;
}

#service .icon img {
    height: 90px;
}

#service p.card-text {
    margin: 2vh;
}

/*--------- About ---------*/

#about {
  background-color: #F3EDE9;
}

#about img {
  width: 100%;
}

#about .card {
  min-height: 40vw;
}

#about .bottom  {
  margin: 2vw;
}

#about .card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 0px;
}

#about a.nav-link {
  background-color: #F3EDE9;
  border-radius: 24px;
  color: #B27273 !important;
  padding: 8px 32px;
  font-family: "made-tommy-light";  
  margin: 0px 8px;
  font-size: 14px;
}

#about a.nav-link:hover {
  font-family: "made-tommy-regular";  
  border: none
}

#about a.nav-link.active {
  background-color: #B27273;
  color: #ffffff !important;
}

#about .card-header-tabs {
  justify-content: center;    
  margin: 2vh;
}
/*--------- Contact ---------*/

#contact {
}

#contact .card-title {
    margin: 2rem 0px 3rem;
}

#contact .icones {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#contact img.image {
  width: 42vw;
  position: absolute;
  right: 0;
}

#contact form {
    margin: 2rem;
}


#contact button {
  margin: 1rem;
}
/*--------- Footer ---------*/

footer {
  background-color: var(--secondary-color);
}

footer .icon {
  background-color: var(--secondary-color);
}

footer .icon:hover {
  background-color: var(--primary-color);
}

@media only screen and (max-width: 768px) {

  h1 { font-size: 4rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2.6rem; }
  h4 { font-size: 2.2rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.6rem; }

  .card {
      margin: 20px 0px;
  }

  #contact img.image{
      display: none;
  }

  #about .card-header-tabs {
      margin: 12px 0 0 0;
  }

  #contact .card-title {
      margin: 1rem 0px 2rem;
  }


}


@media only screen and (max-width: 576px) {

  #navbarCollapse{
    background: #F9F6F4;
  }

  a.nav-link {
    text-align: center;
    margin: 0px 32vw;
  }

  #home .profile img{
    display: none;
  }

  #home .circle {
    position: absolute;
    height: inherit;
    margin-left: -40vw;
  }

  #about a.nav-link {
    padding: 8px 16px !important;
    margin: 0px 4px;
    font-size: 14px;
  }

  #about .card-header {
    padding: .75rem 0.25rem;
  }

  #about a.nav-link {
      margin: 8px 4px;
  }

  #about .card {
    padding-bottom: 20px;
}

  #project .card-body {
      padding: 0.5rem 1.5rem;
  }

  #project .behance {
    position: absolute;
    right: 4vw;
}

  #contact form {
      margin: 0rem;
  }

  #contact .card-title {
      margin: 1rem 0px 2rem;
  }

  #contact .form-group {
      margin-bottom: 1rem;
  }



}